<p>
  <%= fields.label :title %>
  <%= fields.text_field :title %>
</p>
<p>
  <%= fields.label :description %>
  <%= fields.text_area :description %>
</p>
<p>
  <%= label_tag :fld_location %>  
  <%= text_field_tag :fld_location, nil, :name => 'event[fld_location]' %>  
</p>